<div class="full-screen-background">
  <div class="message-button-container">
 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <%= f.email_field :email, value: "birthday@email.com" %>
  <div class="d-flex justify-content-center">
  <%= f.text_field :password, class:"input-button-container" %> <!-- "Please enter the password" in Japanese -->
  </div>
  <div class="message-button-container">
    <%= f.submit "アンロック", class: "btn btn-primary", data: { turbolinks: false } %>
  </div>
<% end %>
  </div>
</div>
<style>

  input[type=text]:focus{
  outline: 2px pink;     /* oranges! yey */
}
    .full-screen-background {
   background: url('<%= asset_path('birthday_2.png') %>') no-repeat center center fixed; 
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.input-button-container {
  position: fixed;
  bottom: 150px; /* Adjust as needed */
  width: 15%;
  text-align: center;
  border-color: pink; /* Shocking pink */
  border-radius: 25px;
}

.message-button-container {
  position: fixed;
  bottom: 50px; /* Adjust as needed */
  
  width: 100%;
  text-align: center;
  
}

.btn-primary {
  background-color: white; /* Shocking pink */
border-color: white; /* Shocking pink */
  color: #FF69B4;
  font-size: 40px;
  border-radius: 25px;
  border-color: pink;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #ff85b4 !important;
  border-color: #ff85b4 !important;
}

    </style>